<% if user.freelancer? %>
  <% [['Qualification', user.qualification], ['Experience', user.experience]].each do |label, value| %>
    <%= render 'label_value', label:, value: %>
  <% end %>
  <div class="row text-center my-1">
    <div class="col fs-4">Categories</div>
    <% if user.categories.empty? %>
      <div class="col fs-4">
        No categories available
      </div>
    <% else %>
      <div class="col fs-4">
        <% user.categories.each do |category| %>
          <%= cycle_bg_colors_badge(category.name) %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
