<div class="mb-3">
  <%= form.label field, class: 'form-label' %>
  <% if object.send(field).attached? %>
    <div class="mb-2">
      <span class="text-muted">Current file:</span> <%= link_to object.send(field).filename, url_for(object.send(field)), target: "_blank" %>
    </div>
  <% end %>
  <%= form.file_field field, class: 'form-control' %>
</div>
