<div class="d-flex align-items-center">
  <%= display_room_action('', rooms_path, 'arrow-left', 'warning') %>
  <div class="d-flex align-items-center ms-3">
    <%= render 'shared/profile_picture', user: other_user, size: '50x50' %>
    <%= link_to other_user, class: 'text-decoration-none mb-0 ms-2 fs-5' do %>
      <%= other_user.username %>
    <% end %>
  </div>
</div>
<hr class="mb-3">